<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User</title>
</head>
<body>
    <header>
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3">User's Database</h1>
            <h4 class="mb-3">You can ADD,Update,Delete & Search a User</h4>
            <a class="btn btn-primary" href="/users" role="button">Let's Start</a>
        </div>
    </header>
</body>
</html>